.Bookmarks.Container, .Bookmarks .Container {
  width: 100%;
  grid-template-columns: 25% 50% 25%;
  grid-column-gap: 1em;
  --indentation: 2em;
}

.Bookmarks .Folder {
  display: flex;
  grid-column: 1;
}
.Bookmarks .Leaf {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.Bookmarks .Leaf:hover {
  overflow: visible;
  white-space: initial;
  word-break: break-all;
}
.Bookmarks .Leaf.Title {
  grid-column: 2;
}
.Bookmarks .Leaf.Url {
  grid-column: 3;
}

.Bookmarks .Folder .ExpandButton {
  width: var(--indentation);
  height: var(--indentation);
}
.Bookmarks .Folder .Action {
  visibility: hidden;
}
.Bookmarks .Folder:hover .Action {
  visibility: visible;
}